<!----------------- Inserting Data modal ----------------->
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New User</h4>
    </div>
    <div class="modal-body">
      <form [formGroup]="submitForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        <div class="form-group">
          <label>First name:</label>
          <div class="input-group">
            <input type="text" class="form-control" formControlName="firstName">
          </div>
          <div>
            <span class="text-danger" *ngIf="!submitForm.get('firstName')?.valid &&
                    submitForm.get('firstName')?.touched">Please Enter the First name!</span>
          </div>
        </div>
        <div class="form-group">
          <label>Last name:</label>
          <div class="input-group">
            <input type="text" class="form-control" formControlName="lastName">
          </div>
          <div>
            <span class="text-danger" *ngIf="!submitForm.get('lastName')?.valid &&
                    submitForm.get('lastName')?.touched">Please Enter the Last name!</span>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email Address:</label>
          <div class="input-group">
            <input type="email" class="form-control" formControlName="email">
          </div>
          <div>
            <span class="text-danger" *ngIf="!submitForm.get('email')?.valid &&
                    submitForm.get('email')?.touched">Please Enter the VALID email address!</span>
          </div>
        </div>
        <div class="form-group">
          <label for="name">Password:</label>
          <div class="input-group">
            <input type="password" class="form-control" formControlName="password">
          </div>
          <div>
            <span class="text-danger" *ngIf="!submitForm.get('password')?.valid &&
                      submitForm.get('password')?.touched">Please Insert Strong Password! </span>
          </div>
        </div>
        <div class="form-group">
          <label>Role:</label>
          <div class="input-group">
            <select formControlName="role">
              <option value="" disabled>Select the user role</option>
              <option value="ROLE_ADMIN"> ROLE_ADMIN</option>
              <option value="ROLE_MANAGER">ROLE_MANAGER</option>
              <option value="ROLE_USER"> ROLE_USER</option>
            </select>
          </div>
          <div>
            <span class="text-danger" *ngIf="!submitForm.get('role')?.valid &&
                      submitForm.get('role')?.touched">Please Select the user role! </span>
          </div>
        </div>
        <div class="form-group">
          <label>Profile Picture:</label>
          <div class="input-group">
            <input type="file" class="form-control" formControlName="profilePhoto" (change)="onFileChange($event)">
          </div>
          <div>
            <span class="text-danger" *ngIf="!submitForm.get('profilePhoto')?.valid &&
                    submitForm.get('profilePhoto')?.touched">Please Select a Profile!</span>
            <span class="text-danger">{{file_error}}</span>
          </div>
          <div>
            <img [src]="url" *ngIf="url" class="img-responsive img-thumbnail" alt="...">
          </div>
        </div>
        <div class="modal-footer" *ngIf="disable_file_uplaod_button">
          <button data-dismiss="modal" class="btn btn-info" [disabled]="!submitForm.valid">Submit</button>
          <button type="button" class="btn btn-danger" (click)="onClose()">Close</button>
        </div>
      </form>
    </div>
  <!----------------- End Inserting Data modal ----------------->