<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-9">
      <div class="border">
        <button class="btn btn-md btn-outline-primary float-left" (click)="open(content)">
          <i class="fa fa-plus"></i>New User </button>
      </div>
      <hr>
      <div>
        <table class="table table-bordered table-striped" id="dataableUsers">
          <thead>
            <tr>
              <th>ID</th>
              <th>First name</th>
              <th>Last name</th>
              <th>Email:</th>
              <th>Role</th>
              <th>Profile</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of data;let i = index">
              <td>
                <span>{{i+1}}</span>
              </td>
              <td>
                <span>{{user.firstName}}</span>
              </td>
              <td>
                <span>{{user.lastName}}</span>
              </td>
              <td>
                <span>{{user.email}}</span>
              </td>
              <td>
                <span>{{user.role}}</span>
              </td>
              <td>
                <img src="data:image/jpeg;base64,{{user.profilePhoto}}" class="img-thumbnail" alt="...">
              </td>
              <td>
                <button class="btn btn-sm btn-warning" (click)="openEdit(user)">
                  <i class="fa fa-edit"></i> Edit </button>
                <button class="btn btn-sm btn-danger" (click)="openDelete(contentDelete, user)">
                  <i class="fa fa-remove"></i> Delete </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
