<h1 class="btn btn-warning text-center w-100 h-25" style="font-size: 2em;">Menu</h1>
<div class="list-group">
    <a class="list-group-item" routerLink="/users" routerLinkActive="active"> <i class="fa fa-user"></i>Users</a>
    <a class="list-group-item" routerLink="/tasks" routerLinkActive="active"><i class="fa fa-tasks"></i> Tasks</a>
</div>
<div class="btn-sign-out">
  <button class="btn btn-danger w-100" routerLink="/logout" routerLinkActive="active"><i class="fa fa-sign-out"></i>Sign out</button>
</div>