.container{
  background: #dadada;;
  padding: 20px;
  height: 380px;
  margin-top: -21.6%;
  margin-left: -12px;
}
.mg-top{
    margin-top: 10%;
}

.active{
  background-color: #08355b;
  border-color: #08355b;
}
