<!----------------- Inserting Data modal ----------------->
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title1">New Task</h4>
    </div>
    <div class="modal-body">
      <form [formGroup]="submitForm">
        <div class="form-group">
          <label>Title:</label>
          <div class="input-group">
            <input class="form-control" formControlName="title" required>
          </div>
          <div>
            <span class="text-danger" *ngIf="!submitForm.get('title')?.valid &&
                    submitForm.get('title')?.touched">Please Enter the Title!</span>
          </div>
        </div>
        <div class="form-group">
          <label for="createdate">Created date:</label>
          <div class="input-group">
            <input type="date" class="form-control" formControlName="createDate"  placeholder="YYYY-MM-DD">
          </div>
          <div>
            <span class="text-danger" *ngIf="!submitForm.get('createDate')?.valid &&
                    submitForm.get('createDate')?.touched">Please Enter the create Date!</span>
          </div>
        </div>
        <div class="form-group">
          <label for="duedate">Due date:</label>
          <div class="input-group">
            <input type="date" class="form-control" formControlName="dueDate"  placeholder="YYYY-MM-DD">
          </div>
          <div>
            <span class="text-danger" *ngIf="!submitForm.get('dueDate')?.valid &&
                    submitForm.get('dueDate')?.touched">Please Enter the Due Date!</span>
          </div>
        </div>
        <div class="form-group">
          <label>Status:</label>
          <div class="input-group">
            <select formControlName="status">
              <option value="CREATED" [defaultSelected]="selectedStatus"> CREATED</option>
              <option value="PENDING"> PENDING</option>
              <option value="COMPLETED"> COMPLETED</option>
              <option value="CANCELED"> CANCELED</option>
            </select>
          </div>
          <div>
            <span class="text-danger" *ngIf="!submitForm.get('status')?.valid &&
                    submitForm.get('status')?.touched">Please Enter the Status!</span>
          </div>
        </div>
        <div class="form-group">
          <label for="name">Description:</label>
          <div class="input-group">
            <textarea class="form-control" formControlName="description" cols="4" rows="4"></textarea>
          </div>
          <div>
            <span class="text-danger" *ngIf="!submitForm.get('description')?.valid &&
                    submitForm.get('description')?.touched">Please Enter the Description!</span>
          </div>
        </div>
        <div class="form-group">
          <label>User:</label>
          <div class="input-group">
            <select formControlName="userr" >
              <option *ngFor="let user of users" [ngValue]="user">
                <p *ngIf="user.role =='ROLE_USER'">{{user.firstName}} {{user.lastName}}</p>
              </option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button data-dismiss="modal" class="btn btn-info" (click)="onSubmit(submitForm.value)" [disabled]="!submitForm.valid && submitForm.touched">Submit</button>
          <button type="button" class="btn btn-danger" (click)="onClose()">Close</button>
        </div>
        <div>
          <span class="text-danger" *ngIf="!submitForm.get('userr')?.valid &&
                  submitForm.get('userr')?.touched">Please select a user!</span>
        </div>
      </form>
    </div>
  <!----------------- End Inserting Data modal ----------------->