<!----------------- Deleteing  modal ----------------->
    <div class="modal-header">
      <h5 class="modal-title">Confirm Delete</h5>
    </div>
    <div class="modal-body text-center text-danger">
      <h6>Are you sure you want to delete this record?</h6>
    </div>
    <div class="modal-footer">
      <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Yes, Delete!</button>
      <button type="button" class="btn btn-outline-dark" (click)="onClose()">Cancel</button>
    </div>