<div class="row">
   
          
    
    <div class="col-md-12">
        <h2>Reset Your Password</h2>
        <form [formGroup]="resetForm">
            <input type="hidden" formControlName="token" />
        <div class="border border-secondary rounded p-3">
            <div>
                <p>
                    <input type="password" class="form-control"
                        placeholder="Enter your new password" required autofocus  formControlName="password" >
                </p>   
                    <div>
                    <span class="text-danger" *ngIf="!resetForm.get('password')?.valid &&
                    resetForm.get('password')?.touched">Please Enter the your Password!</span>
                  </div>      
                        
                <p class="text-center">
                    <input type="submit" value="Change Password" class="btn btn-primary" (click)="onResetPassword(resetForm.value)" />
                </p>
            </div>
        </div>
        </form>
    </div>
</div>

         
